body {
    margin: 0%;
    font-family:'calibri';
}

h2 {
    font-weight: bolder;
}

nav {
    padding: 10px 0px 10px 10vw;
    display: flex;
    background-color: rgb(226, 202, 170);
    border-bottom: 2px solid grey;
}

.navElement {
    text-align: center;
    width: 9vw;
    height: 1vw;
}

.navElementMain {
    text-align: center;
    width: 9vw;
    color: white;
    background-color:rgb(158, 107, 40);
    border-radius: 16px;
}

.product {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1vw;
    border-bottom: 2px solid grey;
}

.title {
    font-size: 4rem;
}

.productInformation {
    display: flex;
}

.productPhoto {
    width: 60vw;
}


.productPhotoDescription {
    width: 40vw;
}

.price {
    font-size: 4rem;
    margin-top: 0px;
    margin: 0px 16px 32px 0px;
}

button {
    margin-top: 32px;
    width: 80%;
    height: 64px;
    background-color:burlywood;
    color: white;
    font-size: 1.5rem;
    border-radius: 32px;
}

.description {
    display: flex;
    padding: 5vw 10vw 5vw 10vw;
    gap: 10vw;
    justify-content: center;
}

.descriptionLeft {
    background-color: rgb(158, 107, 40);
    color: white;
    border-radius: 32px;
    padding: 0vw 3vw 3vw 3vw;
    font-size: 2rem;
    width: 25vw;
}

.noMargin {
    margin: 0px;
}

.descriptionRight {
    width: 30vw;
    font-size: 2rem;
}

.overige {
    padding: 5vw 10vw 5vw 10vw;
    background-color: rgb(226, 202, 170);
}

.overigeText {
    margin-bottom: 3vw;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.gerelateerdeProducten {
    font-size: 1.5rem;
    gap: 10vw;
    justify-content: center;
    display:flex;
}
.image{
    width: 100%;
}
.gerelateerdeProductenPhoto{
    width: 16vw;
    height: 16vw;
    border-radius: 64px;
    margin-bottom: 1vw;
    background-color: white;
}

.gerelateerdeProductenTekst {
    width: 16vw;
    height: 16vw;
}

.overigeProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    gap: 3vw;
    background-color: rgb(158, 107, 40);
    color: white;
    padding: 1vw 0vw 1vw 0vw;
}